<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PoolCarManager.Querying.Properties.Settings.PoolCarManagerConnectionString"
            connectionString="Data Source=(local);Initial Catalog=PoolCarManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>