@model IEnumerable<PoolCarManager.Web.Models.JourneyListItemViewModel>

<table>
    <tr>
        <th>
            Driver
        </th>
        <th>
            Start Mileage
        </th>
        <th>
            End Mileage
        </th>
        <th>
            Distance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.DriverName
        </td>
        <td>
            @item.StartMileage
        </td>
        <td>
            @item.EndMileage
        </td>
        <td>
            @item.Distance
        </td>
    </tr>
}

</table>

